<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name = "author" content = "blaz">
        <meta name = "description" content="vsebuje vse kaj se ucim">
        <title>My first web page</title>
        <link rel="stylesheet" href="../static/main.css">
    </head>

    <body>
        <h1>Pozdravljen na spletni strani dežemer</h1>
        <p>Izberi svojo naslednjo akcijo</p>
        <ol>
            <li><a href="/eksperimenti">Vpiši eksperiment</a></li>
            <li><a href="/display">Preberi vrednosti meritev</a></li>
            <li><a href="/graph">Grafični prikaz meritev</a></li>
        </ol>
    </body>

</html>


