<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name = "author" content = "blaz">
        <meta name = "description" content="vsebuje vse kaj se ucim">
        <title>My first web page</title>
        <link rel="stylesheet" href="../static/main.css">
    </head>
    <body>
        <h1>hello world!</h1>

        <hr>

        <!-- z nav lahko navigiramo po sekcijah  -->
        <nav>
            <ul>
                <li>
                    <a href="#html"> learn HTML</a>
                    <br>
                    <a href="#nekaj druga">nekaj druga</a>
                </li>
            </ul>
        </nav>

        <!-- hr doda crtico -->
        <hr>

        <!-- section doda sekcijo, po kateri lahko navigiramo preko linkov -->
        <section id="html">

        <!-- em doda emphasis enako strong -->
        <!-- abbr doda abbrevation, torej da ko gres z misko na besedilo je dodatna razlaga kaj pac das -->

        <!-- da dodamo link do nove strani dodamo <a href="link"> besedilo, ki pelje na link </a> -->
        <h2>Im ready to <strong>learn</strong> <em>html</em></h2>
        <p>this is my first web page on <abbr title="mozzila developer network">
            <a href="https://developer.mozilla.org/en-US/">MDN</a></abbr> </p>

        <!-- br doda besedilo v novo vrstico -->
        <h3>My daily schedule</h3>
        <p>Let me tell you how:

            <!-- nbsp doda to da se text premakne nekoliko v desno -->

            <br>&nbsp;&nbsp;... I learn more about web dev.
            <br>&nbsp;&nbsp;... I plan out my schedule.
            <br>&nbsp;&nbsp;... I use resources
        </p>
        </section>
        <hr>
        <section id="nekaj druga">
        <!-- ol je ordered list in li je list -->

        <p>Let me tell you how:</p>

            <ol>
            <li>... I learn more about web </li>
            <li>... I plan out my schedule. </li>
            <li>... I use resources </li>
            </ol>

        <!-- ul doda pikice namesto stevilk -->

        <p>Let me tell you how:</p>

            <ul>
            <li>... I learn more about web </li>
            <li>... I plan out my schedule. </li>
            <li>... I use resources </li>
            </ul>
        </section>
    </body>
</html>